<div class="row">
    <div class="col-md-1 flex flex-col justify-center items-center pb-4" style="background-color:rgb(238,245,245);">
        <h1 style="letter-spacing:2px;" class="size-28 text-left"><i class="icon ion-university" style="font-size:50px;color:rgb(4,19,126);" title=""></i><br class="size-28" /></h1>
    </div>
    <div class="col-md-5 flex flex-col justify-center items-start" style="background-color:rgb(238,245,245);">
        <p style="font-family:Montserrat, sans-serif;"><span class="underline size-16" style="color:rgb(4,19,126);" data-original-title="" title="">Service</span> <span class="underline size-16" style="color:rgb(4,19,126);" data-original-title="" title="">Process</span> <span class="underline size-16" style="color:rgb(4,19,126);" data-original-title="" title="">Clients</span> <span class="underline size-16" style="color:rgb(4,19,126);" data-original-title="" title="">Team</span></p>
    </div>
    <div class="col-md-6 pb-0 pt-0 flex flex-col justify-center items-end" style="background-color:rgb(238,245,245);">
        <p class="text-left"><br /></p>
        <div style="font-family:Montserrat, sans-serif;">
            <a href="#" role="button" class="transition-all inline-block cursor-pointer no-underline border-2 border-solid mr-1 tracking-75 uppercase py-2 px-8 border-current rounded text-black font-normal ml-1 leading-relaxed hover:text-white hover:border-current size-12" style="margin-bottom:45px;" data-original-title="" title="">Read More</a>
        </div>
    </div></div>
<div class="row">
    <div class="col-md-12" style="background-color:rgb(238,245,245);">
        <div class="display">
            <h1 style="font-family:Montserrat, sans-serif;padding-top:100px;padding-bottom:1px;" class="text-center">Success starts with hardworking consultants</h1>
            <p class="text-center font-light size-12" style="font-family:Montserrat, sans-serif;color:rgb(109,109,109);padding-bottom:100px;">Morbi leo tortor, fermentum sed orci vitae, tempor auctor turpis. Fusce bibendum accumsan fringilla. Nulla aliquam luctus sem, at posuere nibh lobortis et. Ut ac mollis risus, eu congue libero. Nulla vestibulum ultricies tortor at ultrices.</p>
        </div>
    </div></div>

<div class="row">
    <div class="col-md-6" style="font-family:Montserrat, sans-serif;background-color:rgb(238,245,245);">
        <p style="letter-spacing:2px;color:rgb(182,182,182);" class="size-12 tracking-325 font-semibold">TOOLKIT</p>
        <h1 class="leading-none size-19 tracking-widest font-semibold">Our Services</h1>
        <p style="color:rgb(145,145,145);font-family:Montserrat, sans-serif;" class="size-12">Lorem Ipsum is simply dummy text of the printing industry. Our ServicesLorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    </div>
    <div class="col-md-6" style="background-color:rgb(238,245,245);"><img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/-BwYjC1.jpg" alt="" /></div></div>
<div class="row">
    <div class="col-md-12" style="background-color:rgb(238,245,245);">
        <div class="spacer height-40"></div>
    </div></div>
<div class="row">
    <div class="col-md-6" style="background-color:rgb(238,245,245);"><img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/-FrSUb2.jpg" alt="" /></div>
    <div class="col-md-6" style="background-color:rgb(238,245,245);">
        <p style="letter-spacing:2px;color:rgb(182,182,182);font-family:Montserrat, sans-serif;" class="font-semibold size-12 tracking-400">EXPERIENCE</p>
        <h1 class="tracking-widest size-19 font-semibold" style="font-family:Montserrat, sans-serif;">Design and Development</h1>
        <p style="font-family:Montserrat, sans-serif;" class="size-12">Lorem Ipsum is simply dummy text of the printing industry. Our Services Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    </div></div>
<div class="row">
    <div class="col-md-12 pt-16 pb-14" style="background-color:rgb(238,245,245);">
        <h1 style="letter-spacing:3px;color:rgb(182,182,182);font-family:Montserrat, sans-serif;" class="font-semibold tracking-500 size-12 text-center">CLIENTS THAT LOVE US</h1>
    </div></div>
<div class="row">
    <div class="col-md-3 center" style="background-color:rgb(245,249,249);"><img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/creative.png" alt="" style="margin:0px;width:100%;height:auto;" />
        <hr style="border-top-width:1px;border-top-color:rgb(145,145,145);width:30px;display:inline-block;margin:0px;" />
    </div>
    <div class="col-md-3 center" style="background-color:rgb(245,249,249);"><img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/infinitech.png" alt="" style="margin:0;" />
        <hr style="border-top:1px solid #919191;width:30px;display:inline-block;margin:0;" />
    </div>
    <div class="col-md-3 center" style="background-color:rgb(245,249,249);"><img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/light-studio.png" alt="" style="margin:0;" />
        <hr style="border-top:1px solid #919191;width:30px;display:inline-block;margin:0;" />
    </div>
    <div class="col-md-3 center" style="background-color:rgb(245,249,249);"><img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/sitepro.png" alt="" style="margin:0px;" />
        <hr style="border-top:1px solid #919191;width:30px;display:inline-block;margin:0;" />
    </div></div>
<div class="row">
    <div class="col-md-12" style="background-color:rgb(245,249,249);">
        <div class="spacer height-20"></div>
    </div></div>
<div class="row">
    <div class="col-md-3 center" style="background-color:rgb(245,249,249);"><img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/worldwide.png" alt="" style="margin:0;" />
        <hr style="border-top:1px solid #919191;width:30px;display:inline-block;margin:0;" />
    </div>
    <div class="col-md-3 center" style="background-color:rgb(245,249,249);"><img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/steady.png" alt="" style="margin:0;" />
        <hr style="border-top:1px solid #919191;width:30px;display:inline-block;margin:0;" />
    </div>
    <div class="col-md-3 center" style="background-color:rgb(245,249,249);"><img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/upclick.png" alt="" style="margin:0;" />
        <hr style="border-top:1px solid #919191;width:30px;display:inline-block;margin:0;" />
    </div>
    <div class="col-md-3 center" style="background-color:rgb(245,249,249);"><img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/design-firm.png" alt="" style="margin:0;" />
        <hr style="border-top:1px solid #919191;width:30px;display:inline-block;margin:0;" />
    </div></div>
<div class="row">
    <div class="col-md-12" style="background-color:rgb(245,249,249);">
        <div class="spacer height-40"></div>
    </div></div><div class="row">
    <div class="col-md-12 center" style="background-color:rgb(238,245,245);">
        <div class="display">
            <h1 class="normal-case">Meet The Team</h1>
        </div>
        <p style="letter-spacing:9px;">Here are our awesome team.</p>
    </div></div>
<div class="row">
    <div class="col-md-12" style="background-color:rgb(238,245,245);">
        <div class="spacer height-40"></div>
    </div></div>
<div class="row">
    <div class="col-md-3 center" style="background-color:rgb(238,245,245);">
        <div class="img-circular" style="width:150px;height:150px;"><img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/adult-1868750_1920-EzivE1.jpg" alt="" /></div>
        <h3 class="size-14 tracking-225">David Smith</h3>
        <p class="size-12" style="color:rgb(136,136,136);">Marketing Director</p>
    </div>
    <div class="col-md-3 center" style="background-color:rgb(238,245,245);">
        <div class="img-circular" style="width:150px;height:150px;"><img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/noah-buscher-502067-(1)-rT7Vn1.jpg" alt="" /></div>
        <h3 class="size-14 tracking-225">Milla Clarke</h3>
        <p class="size-12" style="color:rgb(136,136,136);">Content Strategist</p>
    </div>
    <div class="col-md-3 center" style="background-color:rgb(238,245,245);">
        <div class="img-circular" style="width:150px;height:150px;"><img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/berwin-coroza-495276-tXRrf2.jpg" alt="" /></div>
        <h3 class="size-14 tracking-225">John Rugg</h3>
        <p class="size-12" style="color:rgb(136,136,136);">Campaign Manager</p>
    </div>
    <div class="col-md-3 center" style="background-color:rgb(238,245,245);">
        <div class="img-circular" style="width:150px;height:150px;"><img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/mark-skeet-537093-6gF113.jpg" alt="" /></div>
        <h3 class="size-14 tracking-225">Sarah Ashley</h3>
        <p class="size-12" style="color:rgb(136,136,136);">Art Director</p>
    </div></div>
<div class="row">
    <div class="col-md-12" style="background-color:rgb(238,245,245);">
        <div class="spacer height-40"></div>
        <div class="spacer height-40"></div>
    </div></div>
<div class="row">
    <div class="col-md-12">
        <div class="spacer height-20"></div>
        <div class="spacer height-40"></div>
    </div></div>
<div class="row">
    <div class="col-md-4"><i class="icon ion-map size-64" style="color:rgb(28,37,102);" title=""></i>
        <p class="font-semibold size-12 tracking-300" style="color:rgb(136,136,136);">OUR LOCATION</p>
        <p class="size-12">
            Your Company Name<br class="size-12" />
            12345 Street Name, City.
            P: (123) 456 7890
        </p>
    </div>
    <div class="col-md-4"><i class="icon ion-clock size-64" style="color:rgb(28,37,102);" title=""></i>
        <p class="leading-11 font-semibold tracking-325 size-12" style="color:rgb(136,136,136);">OPENING HOURS</p>
        <p class="size-12">
            Monday - Friday: 9:00 AM - 10:00 PM<br class="size-12" />
            Sat: 10:00 AM - 11:00 PM
        </p>
    </div>
    <div class="col-md-4"><i class="icon ion-chatbox-working size-64" style="color:rgb(28,37,102);" title=""></i>
        <p class="tracking-325 font-semibold size-12" style="color:rgb(136,136,136);">STAY UPDATED</p>
        <p class="size-12">
            Follow us on:<br class="size-12" />
            Facebook: <a href="#" style="color:#333;" class="size-12" data-original-title="" title="">Company Name</a><br class="size-12" />
            Twitter: <a href="#" style="color:#333;" class="size-12" data-original-title="" title="">@companyname</a>
        </p>
    </div></div>
<div class="row">
    <div class="col-md-12">
        <div class="spacer height-40"></div>
        <div class="spacer height-20"></div>
    </div>
</div>
