<div></div>
<div class="row">
<div class="col-md-12 center">
<div class="display">
<h1 class="size-64" style="padding-top: 40px; padding-bottom: 0px;">Good for Health, Good for You</h1>
</div>
</div>
</div>
<div class="row">
<div class="col-md-12 center">
<div style="margin: 10px 0px; padding-bottom: 60px;">
<a href="#" role="button" class="transition-all inline-block cursor-pointer no-underline border-2 border-solid ml-1 mr-1 size-16 tracking-75 font-normal uppercase px-11 hover:border-current rounded-full py-3 leading-relaxed border-current" onmouseover="if(this.getAttribute('data-hover-bg'))this.style.backgroundColor=this.getAttribute('data-hover-bg');" onmouseout="if(this.getAttribute('data-bg'))this.style.backgroundColor=this.getAttribute('data-bg');else this.style.backgroundColor=''" data-bg="rgb(249,168,37)" style="background-color: rgb(249, 168, 37); color: rgb(254, 249, 240);">All Products</a>
</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="spacer height-20"></div>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="spacer height-20"></div>
</div>
</div>
<div class="row">
<div class="col-md-6"><img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/pizza-3000285_1920-0ccra1.jpg" alt=""></div>
<div class="col-md-6">
<h1 class="size-42" style="letter-spacing: 2px;">Roberto Pizza</h1>
<p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
<p style="color: rgb(158, 158, 158);"><span style="letter-spacing: 2px; color: rgb(246, 97, 51);">SIZE:</span><br>Small, Medium, Large</p>
<p><span style="letter-spacing: 2px; color: rgb(115, 169, 77);">TOPPINGS:</span><br><span color="#ef6c00" style="color: rgb(158, 158, 158);">Roast Beef, Mushrooms, Bacon, Pineapple, Pepperoni, Tomatoes, Extra Cheese</span></p>
<p class="size-28" style="font-family: Georgia, serif;">$15</p>
<div><a href="#" style="margin: 0px; display: inline-block; text-decoration: none; transition: all 0.16s ease 0s; border-style: solid; cursor: pointer; background-color: rgba(0, 0, 0, 0); color: rgb(23, 23, 23); border-color: rgb(23, 23, 23); border-width: 2px; border-radius: 0px; padding: 10px 22px; font-weight: 400; font-size: 12px; letter-spacing: 3px;" title="" class="uppercase leading-normal">Place Order</a></div>
</div>
</div>
<div class="row">
<div class="col-md-6">
<h1 class="size-42" style="letter-spacing: 2px;">Meat Burger</h1>
<p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
<p style="color: rgb(158, 158, 158);"><span style="letter-spacing: 2px; color: rgb(228, 70, 70);">SIZE:</span><br>Small, Medium, Large</p>
<p><span style="letter-spacing: 2px; color: rgb(115, 169, 77);">EXTRAS:</span><br><span color="#ef6c00" style="color: rgb(158, 158, 158);">Burger Patty, Smoked Beef, Swiss Cheese, Cheese Sauce, Mushroom Sauce</span></p>
<p class="size-28" style="font-family: Georgia, serif;">$9</p>
<div><a href="#" style="margin: 0px; display: inline-block; text-decoration: none; transition: all 0.16s ease 0s; border-style: solid; cursor: pointer; background-color: rgba(0, 0, 0, 0); color: rgb(23, 23, 23); border-color: rgb(23, 23, 23); border-width: 2px; border-radius: 0px; padding: 10px 22px; font-weight: 400; font-size: 12px; letter-spacing: 3px;" title="" class="uppercase leading-normal">Place Order</a></div>
</div>
<div class="col-md-6"><img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/sina-piryae-6xmqv6gccyu-unsplash-5lXVR1.jpg" alt="" style="padding-bottom: 60px;"></div>
</div>
<div class="row">
<div class="col-md-12">
<p class="size-60 display-font2 leading-normal" style="letter-spacing: 10px;">WHAT MAKES US DIFFERENT</p>
<p style="border-bottom: 2px solid #333; width: 70px; display: inline-block; margin: 0"></p>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="spacer height-40"></div>
</div>
</div>
<div class="row">
<div class="col-md-3"><i class="icon ion-android-bulb size-32" style="color: #bdc3c7"></i>
<h3 class="size-21" style="letter-spacing: 1px; font-weight: 300">FEATURE 01</h3>
<p class="size-16">Lorem Ipsum is dummy text of the printing industry.</p>
</div>
<div class="col-md-3"><i class="icon ion-android-desktop size-32" style="color: #bdc3c7"></i>
<h3 class="size-21" style="letter-spacing: 1px; font-weight: 300">FEATURE 02</h3>
<p class="size-16">Lorem Ipsum is dummy text of the printing industry.</p>
</div>
<div class="col-md-3"><i class="icon ion-gear-b size-32" style="color: #bdc3c7"></i>
<h3 class="size-21" style="letter-spacing: 1px; font-weight: 300">FEATURE 03</h3>
<p class="size-16">Lorem Ipsum is dummy text of the printing industry.</p>
</div>
<div class="col-md-3"><i class="icon ion-earth size-32" style="color: #bdc3c7"></i>
<h3 class="size-21" style="letter-spacing: 1px; font-weight: 300">FEATURE 04</h3>
<p class="size-16">Lorem Ipsum is dummy text of the printing industry.</p>
</div>
</div>
<div class="row">
<div class="col-md-12 center">
<h1 class="size-42" style="letter-spacing: 2px;">Meet our chef</h1>
</div>
</div>
<div class="row">
<div class="center col-md-12">
<div class="img-circular"><img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/redd-angelo-427759-33bDf2.jpg" alt=""></div>
<h3 class="size-21" style="letter-spacing: 2px;">NATHAN WILLIAMS</h3>
<p style="color: #b7b7b7">Executive Chef</p>
</div>
</div>
<div class="row">
<div class="col-md-12 is-light-text" style="background-color: rgb(29, 29, 29);">
<p style="color: rgb(247, 247, 247); font-family: Quattrocento, serif; font-size: 60px; text-transform: uppercase; padding-top: 20px; padding-bottom: 10px;" class="font-semibold text-left">Delivery</p>
</div>
</div>
