<div class="row">
<div class="col-md-12"><img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/person2.png" alt=""></div>
</div>
<div class="row">
<div class="col-md-6">
<p style="letter-spacing: 2px;">STEP ONE</p>
<h1 class="size-42" style="font-weight: bold;">Discovery</h1>
<p>Lorem Ipsum is simply dummy text of the printing industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
</div>
<div class="col-md-6"><img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/-BwYjC1.jpg" alt=""></div>
</div>
<div class="row">
<div class="col-md-12">
<div class="spacer height-40"></div>
</div>
</div>
<div class="row">
<div class="col-md-6"><img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/-FrSUb2.jpg" alt=""></div>
<div class="col-md-6">
<p style="letter-spacing: 2px;">STEP TWO</p>
<h1 class="size-42" style="font-weight: bold;">Design and Development</h1>
<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="spacer height-60"></div>
</div>
</div>
<div class="row">
<div class="col-md-12">
<h1 class="size-32 is-title1-32 is-title-lite" style="text-align: center;">WHY WE'RE AWESOME</h1>
</div>
</div>
<div class="row">
<div class="center col-md-4 pb-16"><i class="icon ion-android-people size-24" style="line-height:1"></i>
<h1 class="size-48 is-title1-48 is-title-bold">775</h1>
<p>HAPPY CLIENTS</p>
</div>
<div class="center col-md-4"><i class="icon ion-checkmark size-24" style="line-height:1"></i>
<h1 class="size-48 is-title1-48 is-title-bold">60+</h1>
<p>PROJECTS DONE</p>
</div>
<div class="center col-md-4"><i class="icon ion-trophy size-24" style="line-height:1"></i>
<h1 class="size-48 is-title1-48 is-title-bold">12</h1>
<p>AWARDS WON</p>
</div>
</div>
<div class="row">
<div class="col-md-6">
<div class="spacer height-60"></div>
</div>
<div class="col-md-6">
<div class="spacer height-60"></div>
</div>
</div>
<div class="row">
<div class="col-md-6">
<p style="text-transform: uppercase; letter-spacing: 3px;">Talk To Us</p>
<h1 style="font-weight: bold;">Get in touch.</h1>
<div class="spacer height-40"></div>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
<p><b>Phone:</b><br>(123) 456 7890 / 456 7891</p>
<div class="spacer height-40"></div>
<div class="size-18">
<a href="https://twitter.com/"><i class="icon ion-social-twitter" style="margin-right: 1em"></i></a>
<a href="https://www.facebook.com/"><i class="icon ion-social-facebook" style="margin-right: 1em"></i></a>
<a href="mailto:you@example.com"><i class="icon ion-ios-email-outline"></i></a>
</div>
</div>
<div class="col-md-6">
<div class="embed-responsive embed-responsive-16by9" style="height:360px"><iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" class="mg1" src="https://maps.google.com/maps?q=Melbourne,+Victoria,+Australia&amp;hl=en&amp;sll=-7.981898,112.626504&amp;sspn=0.009084,0.016512&amp;oq=melbourne&amp;hnear=Melbourne+Victoria,+Australia&amp;t=m&amp;z=10&amp;output=embed"></iframe></div>
</div>
</div>
