<div class="row">
    <div class="col-md-12 center text-right pt-4 pb-4 is-light-text" style="background-color: rgb(233, 233, 233);"><a href="#" role="button" class="transition-all inline-block cursor-pointer no-underline border-2 border-solid mr-1 tracking-75 uppercase py-2 size-14 px-8 border-current rounded text-black hover:border-current font-normal ml-1 leading-relaxed" style="border-radius: 8px; border-width: 1px; border-style: solid;" onmouseover="if(this.getAttribute('data-hover-bg'))this.style.backgroundColor=this.getAttribute('data-hover-bg');" onmouseout="if(this.getAttribute('data-bg'))this.style.backgroundColor=this.getAttribute('data-bg');else this.style.backgroundColor=''">CALL TO ACTION</a>&nbsp;</div>
</div>
<div class="row">
    <div class="col-md-12 center pt-16 pb-16 flex flex-col justify-center items-center min-height-450" style="background-color: rgb(233, 233, 233);">
        <div class="display">
            <h1 class="size-80 is-title1-80 is-title-lite">This is your Primary Heading.</h1>
        </div>
        <p class="size-17">Add some more descriptive content here to describe your product or service in a more detailed way. This could also be an explanation of the details of your offer if you are running a promotion.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="spacer height-60"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 pt-5">
        <h1 class="size-42" style="letter-spacing: 2px; text-align: center;">OUR <b style="color: rgb(239, 108, 0);">CLIENTS</b></h1>
        <p class="size-16" style="text-align: center; color: rgb(158, 158, 158);">We are globally recognized and trusted by the world's best names.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="spacer height-60"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="is-card is-dark-text shadow-1" style="width:calc(100%);">
            <div style="padding:10px;width:100%;box-sizing:border-box;text-align:center;">
                <img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/creative.png" alt="">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="is-card is-dark-text shadow-1" style="width:calc(100%);">
            <div style="padding:10px;width:100%;box-sizing:border-box;text-align:center;">
                <img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/steady.png" alt="">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="is-card is-dark-text shadow-1" style="width:calc(100%);">
            <div style="padding:10px;width:100%;box-sizing:border-box;text-align:center;">
                <img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/infinitech.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="spacer height-40"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="is-card is-dark-text shadow-1" style="width:calc(100%);">
            <div style="padding:10px;width:100%;box-sizing:border-box;text-align:center;">
                <img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/light-studio.png" alt="">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="is-card is-dark-text shadow-1" style="width:calc(100%);">
            <div style="padding:10px;width:100%;box-sizing:border-box;text-align:center;">
                <img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/design-firm.png" alt="">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="is-card is-dark-text shadow-1" style="width:calc(100%);">
            <div style="padding:10px;width:100%;box-sizing:border-box;text-align:center;">
                <img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/sitepro.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="spacer height-60"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 center pt-0">
        <h1 class="size-32 is-title5-32 is-title-lite"><i>Your mission statement or your ultimate value.</i></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="spacer height-20"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p style="text-align: justify; color: rgb(109, 109, 109);" class="font-semibold size-12">Add some more descriptive content here to describe your product or service. What your offer is and how you can improve your potential customers daily experience. Keep it short and sweet.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="spacer height-60"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 center">
        <h1 class="size-38" style="letter-spacing: 1px;">THE PROCESS</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="spacer height-40"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p class="size-42" style="line-height: 1; font-weight: bold;">01.</p>
        <h2 class="size-28">Key Benefits</h2>
        <p class="font-semibold size-12" style="color: rgb(153, 153, 153);">What does your company offer that will improve or solve a problem? Explain the pain point being alleviated.</p>
    </div>
    <div class="col-md-6"><img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/workplace-1245776_1280-oxBIU1.jpg" alt=""></div>
</div>
<div class="row">
    <div class="col-md-6"><img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/desk-office-hero-workspace-(1)-V8F292.jpg" alt=""></div>
    <div class="col-md-6">
        <p class="size-42" style="line-height: 1; font-weight: bold;">02.</p>
        <h2 class="size-28">Key Benefits</h2>
        <p class="font-semibold size-12" style="color: rgb(153, 153, 153);">What does your company offer that will improve or solve a problem? Explain the pain point being alleviated.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="spacer height-60"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 center" style="background-color: rgb(233, 233, 233);">
        <div class="display">
            <h1 class="size-54">A closing reminder of your offer.</h1>
            <p style="color: rgb(109, 109, 109);" class="font-semibold size-12">Lorem Ipsum has been the industry's standard text ever since the 1500s, when an unknown printer took a galley of type</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 center pb-4 pt-4" style="background-color: rgb(233, 233, 233);"><a href="#" role="button" class="transition-all inline-block cursor-pointer no-underline border-2 border-solid mr-1 tracking-75 uppercase py-2 size-14 px-8 border-current rounded text-black hover:border-current font-normal ml-1 leading-relaxed" onmouseover="if(this.getAttribute('data-hover-bg'))this.style.backgroundColor=this.getAttribute('data-hover-bg');" onmouseout="if(this.getAttribute('data-bg'))this.style.backgroundColor=this.getAttribute('data-bg');else this.style.backgroundColor=''">CALL TO ACTION</a></div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="spacer height-40"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="spacer height-40"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p style="text-align: justify;"><i class="icon ion-android-radio-button-on size-19"></i><br></p>
        <p style="text-align: justify; color: rgb(145, 145, 145);" class="size-12 font-semibold">A short description of what your company is all about. This could be a mission statement or tagline.</p>
    </div>
    <div class="col-md-6 pt-4 flex flex-col justify-center items-end" style="line-height: 7pt;">
        <p style="text-align: justify;" class="size-12 font-semibold"><br></p>
        <p style="color: rgb(145, 145, 145); line-height: 0.6;" class="font-semibold text-right size-12">Terms and conditions &nbsp;◦ &nbsp;Privacy policy
            © 2018</p>
        <p style="color: rgb(145, 145, 145); text-align: right; line-height: 1;" class="font-semibold text-right size-12">&nbsp;Insert Name Here. All rights reserved</p>
    </div>
</div>
