<div class="row">
<div class="col-md-12 center" style="background-color: rgb(240, 240, 240);"><img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/omar-lopez-32084-8ciiC1.jpg" alt="">
<p style="color: rgb(136, 136, 136);"><br></p>
</div>
</div>
<div class="row">
<div class="col-md-4 center" style="background-color: rgb(240, 240, 240);">
<div style="width: 40px; height: 40px; line-height: 40px; border-radius: 50%; border: 2px solid rgb(230, 126, 34); display: inline-block;" class="text-center">
    <i class="icon ion-android-desktop size-16" style="color: #e67e22"></i>
</div>
<h3 class="size-24" style="margin-top: 30px; letter-spacing: 2px;">CONFORT</h3>
<p class="size-12">The ability to comfortably wear a Moda Work+Play suit for hours on end is what sets it apart from all other suits.</p>
</div>
<div class="col-md-4 center" style="background-color: rgb(240, 240, 240);">
<div style="width: 40px; height: 40px; line-height: 40px; border-radius: 50%; border: 2px solid rgb(230, 126, 34); display: inline-block;" class="text-center">
    <i class="icon ion-gear-b size-16" style="color: #e67e22;"></i>
</div>
<h3 class="size-24" style="margin-top: 30px; letter-spacing: 2px;">&nbsp;QUALITY</h3>
<p class="size-12">Every Moda Work+Play Suit is constructed by hand with Italian textiles by an expert tailor.&nbsp;</p>
</div>
<div class="col-md-4 center" style="background-color: rgb(240, 240, 240);">
<div style="width: 40px; height: 40px; line-height: 40px; border-radius: 50%; border: 2px solid rgb(230, 126, 34); display: inline-block;" class="text-center">
    <i class="icon ion-paintbucket size-16" style="color: #e67e22;"></i>
</div>
<h3 class="size-24" style="margin-top: 30px; letter-spacing: 2px;">MODERN FIT</h3>
<p class="size-12">The Moda Work+Play Suit is featured in GQ, Esquire and Men's Journal as an essential for the modern professional.</p>
</div>
</div>
<div class="row">
<div class="col-md-12 is-dark-text pt-16" style="background-color: rgb(240, 240, 240);">
<p class="size-21 text-center uppercase" style="letter-spacing: 6px;">WHAT GENTS LIKE YOU ARE SAYING ABOUT WORK+PLAY SUITS</p>
<div class="spacer height-20" style="border-width: 2px 0px 0px; width: 200px; padding-left: 0px; padding-right: 0px; margin-left: 35%;"></div>
<p style="font-style: normal;" class="text-center size-12">Over 10,000 gentlemen worldwide have experienced a new level of style-infused versatility with our Work+Play Suits.</p>
</div>
</div>
<div class="row">
<div class="col-md-4" style="background-color: rgb(240, 240, 240);"><img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/h-e-n-g-s-t-r-e-a-m-573432-unsplash-xt89A1.jpg" alt="">
<h3 class="size-18" style="font-weight: 400;">PRODUCT NAME, <span style="color: rgb(136, 136, 136);">$129</span></h3>
<p class="size-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
<p><a href="#" title="">BUY NOW</a></p>
</div>
<div class="col-md-4" style="background-color: rgb(240, 240, 240);"><img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/sarah-dorweiler-357724-unsplash-4cfGV2.jpg" alt="">
<h3 class="size-18" style="font-weight: 400;">PRODUCT NAME, <span style="color: rgb(136, 136, 136);">$79</span></h3>
<p class="size-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
<p><a href="#" title="">BUY NOW</a></p>
</div>
<div class="col-md-4" style="background-color: rgb(240, 240, 240);"><img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/michael-frattaroli-234662-unsplash-QaduA1.jpg" alt="">
<h3 class="size-18" style="font-weight: 400;">PRODUCT NAME, <span style="color: rgb(136, 136, 136);">$49</span></h3>
<p class="size-12">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
<p><a href="#" title="">BUY NOW</a></p>
</div>
</div>
<div class="row">
<div class="col-md-12 center" style="background-color: rgb(29, 29, 29);">
<h1 class="size-42 text-left no-underline not-italic" style="letter-spacing: 2px; font-family: Prata, serif; color: rgb(247, 247, 247);">MODA</h1>
</div>
</div>
<link href="//fonts.googleapis.com/css?family=Prata" rel="stylesheet" property="stylesheet" type="text/css">
