<div class="row clearfix">
  <div class="column half">
    <div class="display">
      <p class="size-18 uppercase">A Beautiful Day in November</p>
      <h1 class="size-50">The Wheels Are Spinning.</h1>
    </div>
    <p class="size-16 ">— By Casey Lansford</p>
  </div>
  <div class="column half"><img src="[BUILDER_ASSETS_RELATIVE_URL]/contentbuilder/assets/minimalist-blocks/images/office1.png" alt=""></div>
</div>
<div class="row clearfix">
  <div class="column full">
    <div class="spacer height-60"></div>
  </div>
</div>


<div class="row clearfix">
  <div class="column half">
    <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
  </div>
  <div class="column half">
    <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
  </div>
</div>
<div class="row clearfix">
  <div class="column full">
    <div class="spacer height-40"></div>
  </div>
</div>
